@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Kode Mono", sans-serif;
  background: url("/src/assets/background.png"), #000;
  background-size: cover;
}

@media (max-width: 430px) {
  html {
    font-size: 1.2rem;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 1rem;
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 1.2rem;
  }
}
